<p style="padding-bottom: 10px;">MMedic</p>
<p>Vui lòng click vào <a href="${link}">link này</a> và làm theo hướng dẫn để đặt lại mật khẩu cho tài khoản của bạn.</p>
<p>Trong trường hợp trình duyệt không mở được link trên, vui lòng copy link sau và paste vào trình duyệt của bạn:</p>
<p>${link}</p>
<p style="padding-top: 10px;">Cảm ơn,</p>
<p>MMedic team</p>
